{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--The line below links the css files from the static folder to this HTML page-->
    <link href="{% static 'Home/styles.css' %}" rel = "stylesheet"> </link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Add Fruit</title>
</head>
<body>
<section class="addfruit">
    <header>
        <input class= "search-txt" type="text" name="" placeholder = "Search for Fruits">
        <div class="searchBtn">
            <a href="#"><i class="fa fa-search"></i></a>
        </div>
    </header>
    <h2> Add Image </h2>
    <div class="catalog">
        <form action="/postcreate/" method="post">
            {% csrf_token %}
            <br>
            <p>Fruit Name: </p>
            <input type="text" name="work" required><br><br>
            <br><br>
            <Country>
            <p>Document Upload: </p>
            <input type="file" name="files[]" id="files">
            <input type="hidden" name="url" id="url">
            <button type="button" onclick="uploadimage()">Upload</button><br><br>
            <input type="submit" value="Submit"><br><br>
        </form>
    </div>
</section>

</body>
<script> src = "https://www.gstatic.com/firebasejs/9.5.0/firebase-app.js"</script>
<script>
    var firebaseConfig = {
    apiKey: "",
    authDomain: "",
    databaseURL:  "",
    storageBucket:  "",
  };
  firebase.intializeApp(firebaseConfig);
  function uploadimage(){
      var storage = firebase.storage();
      var file=document.getElementById("files").files[0];
      var storageref = storage.ref();
      var thisref = storageref.child(file.name).put(file);
      thisref.on('state_changed',function(snapshot) {
          console.log('Done');
      
      }, function(error){
          console.log('Error', error);

      }, function() {
          // Uploaded completed successfully, now we can get the downloaded URL
          thisref.snapshot.ref.getDownloadURL().then(function(downloadURL) {
              console.log('File available at', downloadURL);
              document.getElementById("url").value=downloadURL;
              alert('uploaded successfully');
            });

          });
      }
</script>
</html>