{% extends "Home/home_layout.html" %}
{% load static %}
    <!--The line below links the css files from the static folder to this HTML page-->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

{% block title %}
    Add Fruit
{% endblock %}

{% block content %}
    <section class="addfruit">
        <header>
            <input class= "search-txt" type="text" name="" placeholder = "Search for Fruits">
            <div class="searchBtn">
                <a href="#"><i class="fa fa-search"></i></a>
            </div>
        </header>
        <div>
        <button type="button"  href="{% url 'logout' %}">Logout</button>
    </div>
        <h2> Add Image </h2>
        <body>
            <form action="addfruit" method="post"> 
                {% csrf_token %}
                <br>
                Fruit Name: 
                <input type="text" name="fruits" required><br><br>
                <br><br>
                <Country>
                Document Upload: 
                <input type="file" name="files[]" id="files" required> 
                <input type="hidden" name="url" id="url">
                <button type="button" onclick="uploadimage()">Upload</button><br><br>
                <input type="submit" value="Submit"><br><br>
            </form>
        </body>
    </section>
{% endblock %}


    <script src ="https://www.gstatic.com/firebasejs/9.6.0/firebase-app.js"></script>
<script>
    var config = {
        apiKey: str(os.getenv('FIREBASE_API_KEY')),
        authDomain: "fruitdex-imgdb.firebaseapp.com",
        databaseURL:  "https://fruitdex-imgdb-default-rtdb.firebaseio.com",
        storageBucket:  "fruitdex-imgdb.appspot.com",
    };

  firebase.initializeApp(config);
  
  function uploadimage(){
      var storage = firebase.storage();
      var file=document.getElementById("files").files[0];
      var storageref = storage.ref();
      var thisref = storageref.child(file.name).put(file);
      thisref.on('state_changed',function(snapshot) {
          console.log('Done');

      }, function(error){
          console.log('Error', error);

      }, function() {
          // Uploaded completed successfully, now we can get the downloaded URL
          thisref.snapshot.ref.getDownloadURL().then(function(downloadURL) {
              console.log('File available at', downloadURL);
              document.getElementById("url").value=downloadURL;
              alert('uploaded successfully');
            });
          });
      }
</script>
</html>