{% extends "Home/home_layout.html" %}

{% block title %}
        Browse Caribbean FruitDex
{% endblock %}

{% block content %}
    <section>
            <input class= "searchTxt" type="text" name="" placeholder = "Search for Fruits">
            <div class="searchBtn">
                <a href="#"><i class="fa fa-search"></i></a>
                <a href="#"><i class="fa fa-user"></i></a>
            </div>
            <hr>
            <div class="catalog">
                <h2> Discover Caribbean Fruits</h2>
            </div>
            <br>
            <div>
                {% for fruit in fruits %} <!-- the "fruits" is the dictionary that was passed in through the content dictionary -->

                <article class="media content-section">
                    <div class="media-body">
                      <div class="article-metadata">
                        <a class="mr-2" href="#">{{ fruit.name }}</a>
                        <small class="text-muted">{{ fruit.date_posted }}</small>
                      </div>
                      <h2><a class="article-title" href="#">{{ fruit.scientific_name }}</a></h2>
                      <p class="article-content">{{ fruit.content }}</p>
                      <small class="text-muted"> By {{ fruit.author }} </small>
                    </div>
                </article>
                   
                <!-- {% endfor %}

                {% for fruit in fruits_from_database %} 

                <article class="media content-section">
                    <div class="media-body">
                      <div class="article-metadata">
                        <a class="mr-2" href="#">{{ fruit.fruit_name }}</a>
                        <small class="text-muted">{{ fruit.date_posted }}</small>
                      </div>
                      <p class="article-content">{{ fruit.content }}</p>
                      <small class="text-muted"> By {{ fruit.author }} </small>
                    </div>
                </article>
                   
                {% endfor %} -->

            </div>
            <br>
            <div class="catalog">
                <h2> Add a new fruit<a href="{% url 'Home:addfruit' %}"> here <i class="fa fa-plus-circle"></i></a></h2>
                
            </div>
        </section>
{% endblock %}

