{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--The line below links the css files from the static folder to this HTML page-->
    <link href="{% static 'Home/styles.css' %}" rel = "stylesheet"> </link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Browse Caribbean FruitDex</title>
</head>
<body>
    <section>
        <input class= "searchTxt" type="text" name="" placeholder = "Search for Fruits">
        <div class="searchBtn">
            <a href="#"><i class="fa fa-search"></i></a>
            <a href="#"><i class="fa fa-user"></i></a>
        </div>
        <div class="catalog">
            <h2> Discover Caribbean Fruits</h2>
            <a href="{% url 'Home:addfruit' %}"><i class="fa fa-plus-circle"></i></a>
            
        </div>
    </section>
    
</body>
</html>