{% extends "Home/home_layout.html" %}

{% block title %}
        Browse Caribbean FruitDex
{% endblock %}

{% block content %}

            <article class="media content-section1">
                <img class="rounded-circle article-img" src = "{{ object.image.url }}" alt="...">
                <div class="media-body">
                    <div class="article-metadata">
                    <a class="mr-2" href="#">{{ object.fruit_name }}</a>
                    </div>
                        <p class="article-content">{{ object.local_name }} - {{ object.fruit_name }}</p>

                    {% for name in fruit.local_name.all %}
                    <div>
                        <p>
                            name: {{ name.country_name }}
                        </p> 
                    </div>

                    <!-- {% endfor %}

                    {% if user.is_authenticated %}
                    

                        <form method="POST" action=".">
                            {% csrf_token %}

                            <div class="control">
                                <div class="select">
                                    <select name="Country">
        
                                        {% for country in countries %}
        
                                            <option value="{{country}}"> {{country}}</option>
        
                                        {% endfor %}
                                        
                                    </select>
                                </div>
                            </div>

                            <div class="control">
                                <input type="text" name ="Local-names">
                            </div>

                            <div>
                                <a class="btn btn-secondary btn-sm mt-1 mb-1"> Add Name </a>
                            </div>

                        </form>
                    {% endif %} -->
                    
                    <i class="fa fa-plus-circle"></i>

                    {% if object.author == user %}
                        <div>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'fruit-update' object.id %}"> Update </a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'delete' object.id %}"> Delete </a>
                        </div>
                    {% endif %}
                    </div>
                    
            </article>


{% endblock %}

