{% extends "Home/home_layout.html" %}

{% block title %}
        Browse Caribbean FruitDex
{% endblock %}

{% block content %}

            <article class="media content-section1">
                <img class="rounded-circle article-img" src = "{{ object.image.url }}">
                <div class="media-body">
                    <div class="article-metadata">
                    <a class="mr-2" href="#">{{ object.fruit_name }}</a>
                    <!-- <small class="text-muted">{{ object.date_posted|date:"F j, Y" }}</small>  -->
                    <!-- https://docs.djangoproject.com/en/3.2/ref/templates/builtins/ --> 
                    <!-- the above link shows the formating date characters -->
                    </div>
                    <p class="article-content">{{ object.content }}</p>
                    <!-- <small class="text-muted"> By {{ object.author }} </small> -->
                    <i class="fa fa-plus-circle"></i>

                    
                    {% if object.author == user %}
                        <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'fruit-update' object.id %}"> Update </a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'fruit-update' object.id %}"> Delete </a>
                        </div>
                    {% endif %}
                    </div>
                    
            </article>


{% endblock %}

