{% extends "Home/home_layout.html" %}
<!-- {% block title %}
    Welcome To Caribbean FruitDex
{% endblock title %} -->

    {% block content %}
    <section>
        <header>
            <h2> <a href="#" class="logo"> FruitDex </a></h2>
        </header>
        <div class="content">
            <div class="info">
                <h2>Discover fresh fruits <br><span>from the Caribbean</span></h2>
                <p>FruitDex is the best destination to search for a variety of Caribbean fruits. <br> To add new fruits please SignUp or Login!
                <br> Click Discover to browse, search and add Caribbean Fruits. </p>
                
                <a href="{% url 'Users:signup' %}" class="buttons">SignUp</a>
                <a href="{% url 'login' %}" class="buttons">Login</a>
                <a href="{% url 'Home:browse' %}" class="buttons">Discover</a>
                
            </div>
        </div>
    </section>
    {% endblock content %}
