{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--The line below links the css files from the static folder to this HTML page-->
    <link href="{% static 'Home/styles.css' %}" rel = "stylesheet"> </link>
    <title>Welcome To Caribbean FruitDex</title>
</head>
<body>
    <section>
        <header>
            <h2> <a href="#" class="logo"> FruitDex </a></h2>
        </header>
        <div class="content">
            <div class="info">
                <h2>Discover fresh fruits <br><span>from the Caribbean</span></h2>
                <p>FruitDex is the best destination to search for a variety of Caribbean fruits by image.</p>
                <a href="#" class="buttons">SignUp</a>
                <a href="#" class="buttons">Login</a>
                <a href="#" class="buttons">Discover</a>
            </div>
        </div>
    </section>
    
</body>
</html>