{% extends "Home/home_layout.html" %}

{% block title %}
        Browse Caribbean FruitDex
{% endblock %}

{% block content %}
      <!-- Search Bar -->

      <form class="input-group w-50 p-2" method="POST" action="{% url 'search-fruit' %}">
        {% csrf_token %}
       <input id="search-input" type="search" class="form-control rounded" placeholder="Search fruits..." name = "searched">  
         <button id="search-button" type="submit" class="btn btn-primary" action="{% url 'search-fruit' %}">
            <i class="fa fa-search"></i>
         </button>
       </form>
     <hr>
     <div class="catalog">
      {% if searched %}
      <h2>You searched for {{searched}}</h2>
      <br>
      {%else%}
      <h2>You didn't search for anything </h2>
      {% endif %}
     </div>
     <div class="row row-cols-1 row-cols-md-5 g-4 container-fluid col d-flex justify-content-center">
         

    <br/>

    {% for fruit in fruits %} 

     <!-- Cards display -->
      <article class="media content-section" style="margin-left: 10px; margin-right: 10px">
        <img class="rounded-circle article-img" src = "{{ fruit.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'fruit-detail' fruit.id %}">{{ fruit.fruit_name }}</a>
              <!-- <small class="text-muted">{{ fruit.date_posted|date:"F j, Y" }}</small>  -->
              <!-- https://docs.djangoproject.com/en/3.2/ref/templates/builtins/ --> 
              <!-- the above link shows the formating date characters -->
              <!-- Add fruit name -->
               <!-- <i class="fa fa-plus-circle"></i> -->
            </div>
            <p class="article-content">{{ fruit.content }}</p> 
            <!-- <small class="text-muted"> By {{ fruit.author }} </small> -->
          </div>
      </article>

        
    {% endfor %}
    </div>
    
     
     <!-- SideBar  -->
            
{% endblock %}

