{% extends "Home/home_layout.html" %}

{% block title %}
        Browse Caribbean FruitDex
{% endblock %}

{% block content %}
      <!-- Search Bar -->

      <form class="input-group w-50 mw-75 mw p-2" method="POST" action="{% url 'search-fruit' %}">
        {% csrf_token %}
       <input id="search-input" type="search" class="form-control rounded" placeholder="Search fruits..." name = "searched">  
         <button id="search-button" type="submit" class="btn btn-primary" action="{% url 'search-fruit' %}">
            <i class="fa fa-search"></i>
         </button>
       </form>
     <hr>
     <div class="catalog">
      {% if searched %}
      <h2>You searched for {{searched}}</h2>
      <br>
      {%else%}
      <h2>You didn't search for anything </h2>
      {% endif %}
     </div>
     <!-- <div class="row row-cols-1 row-cols-md-5 g-4 container-fluid col d-flex justify-content-center"> -->
         

    <br/>

    <div class="cards">
    {% for fruit in fruits %} 

     <!-- Cards display -->
     <a href="{% url 'fruit-detail' fruit.id %}" class="card">
      <div class="image" ><img src="{{ fruit.image.url }}" class="card-img-top" alt="..."> </div>
      <div class="card-text">
        <div class="card-title">{{ fruit.fruit_name }} 
          <img class="rounded profile-img align-content-center" src = "{{ fruit.country.flag.url }}"> 
          <!-- <div class="overlay">{{fruit.country}}</div>  -->
        </div>
        <!-- <div class="card-content">Some quick example text to build on the card title and make up the bulk of the card's content.</div> -->
        <div class="more-details"> Read More...</div>
      </div>
    </a>

        
    {% endfor %}
    </div>
    
     
     <!-- SideBar  -->
            
{% endblock %}

