@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,100;1,200;1,300;1,500;1,700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
/*All pages body*/
body {
      position: relative;
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;
      overflow: hidden;
}
/*All pages forms*/
form {
  border: 4px solid #f1f1f1;
}
/*All pages email and password fields*/
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/*All buttons on signup and login*/
button {
  background-color: #99641f;
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  margin: 2px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  transition: 0.3s; 
}
/*All buttons on signup and login hover*/
button:hover{
  opacity: 0.6;
  color: #f1f1f1;
  background:#99641f ;
}
/*All container div class on signup and login*/
.container {
  overflow: hidden;
  max-width: 400px;
  margin: 60px 100px;
}


