{% extends "Users/layout.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Sign Up
{% endblock %}

{% block content %}

<!---
<form action="/action_page.php">
  <div class="container">
    
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
    <br>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <label for="psw-repeat"><b>Confirm Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
    <br> <br>
    <a href="{% url 'Users:login' %}" >Already have an account?</a>
    <br><br>
    <div class="clearfix">
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>
-->
<div class = "content-section">
  <form method="POST">
    {%csrf_token%}
    <fieldset class = "form-group">
      <legend class = "border-bottom mb-4"> Join today</legend>
      {{ form|crispy }} <!--- .as_p allows the form to be printed in paragraph page -->
    </fieldset>
    <div class = "form-group">
      <button class = "btn btn-outline-info" type = "submit">Sign Up</button>
    </div>
  </form>
  <div class = "border-top pt -3">
    <small class = "text-muted"> 
      Already Have An Account? Login <a class= "ml-2" href ="{% url 'login' %}">here</a>
    </small>
  </div>
</div>

{% endblock content %}