
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,100;1,200;1,300;1,500;1,700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    
}
/* Remove to make background white or change color */
body{
    background:rgb(234, 247, 255); 
    /* background-image: url('/static/Home/images/landing.jpg');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover; */
    
}

/*index.html*/
/*All Section classes on all pages*/
.section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
} 

.container1{
    padding-left: 0px;
    padding-right: 100px;
}
/*Landing Page Heading 2*/
.container1 h2{
    color: #1f6870;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height:60px;
    margin-bottom: 30px;

}
/*Landing Page Heading 2 in Span*/
.container1 h2 span{
    color: black;
    font-size: 35px;
    font-weight: 600;

}
/*Landing Page paragraph*/
.container1 p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}
/*Landing Page Buttons */
.container1 .btn-outline-info{
    border: 2px solid #1f6870;
    color: black;
    max-width: 100px;
    min-width: 100px;
    font-size: 16px;
    border-radius: 12px;
    
}
/*Landing Page Buttons Hover*/
.container1 .btn-outline-info:hover{
    opacity: 1;
    background-color:#1f6870;
    color: rgb(255, 255, 255);   
}
img{
    max-width: 100%;
}
/* Browse.html Search button icon */
#search-button{
    background-color: #1f6870 ;
    border: black;
}

/* browse.html search bar  */
.input-group{
    width: 100%;
    margin: 5px auto;
}
/* browse.html hr tag */
hr{
    width: 100%;
}

/*Browse.html Catalog heading*/
.catalog h2{
    color: #1f6870;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height:60px;
    margin-bottom: 30px;
}

/* Browse.html side bar  */

