*{
    margin: 0;
    padding: 0;
}
body {
    margin:0;
    font-style: Roboto;
    font-size: 16px;
    color:#e45412;
    line-height: 1.6;
}

#showcase {
    background-color:#ffffff;
    height: 85vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding: 0 20px;
    overflow: hidden;
  
}
#showcase .img{
    position: top;
}
#showcase h1{
    font-size: 36px;

}

#showcase .button{
    font-size:18px;
    text-decoration: none;
    color:#e04d08; 
    border: #06691c 1px solid ;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 6%;
}

#showcase .button:hover{
    background:#e45412;
    color: rgb(255, 255, 255);
}


